@model Publicacao

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

<div class="container mb-3">
    <form asp-action="Editar" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Data" />
        <input type="hidden" asp-for="Imagem" />
        <div>
            <label for="arquivoDeImagem">
                <img src="/imagens/@Model.Imagem" id="imagem" style="width:300px; height:170px;" />
            </label>
        </div>
        <div>
            <label>Imagem:</label>
            <input id="arquivoDeImagem" type="file" name="imagem" />
        </div>
        <div>
            <label for="titulo">Título: </label>
            <input asp-for="Titulo" id="titulo" type="text" required />
        </div>
        <div>
            <label for="subTitulo">SubTitulo: </label>
            <input asp-for="SubtTitulo" id="subTitulo" type="text" required />
        </div>
        <div class="mb-3">
            <input type="hidden" id="Conteudo" asp-for="Conteudo" />
            <div id="editor"></div>
        </div>
        <button type="submit" id="submit">Editar</button>
        <a asp-action="Index">Cancelar</a>
    </form>
</div>

@* faz com que a imagem apareça em miniatura *@
<script>
    
    const entradaDeArquivo = document.querySelector("#arquivoDeImagem");
    entradaDeArquivo.addEventListener("change", function (e) {

        const alvoDeEntrada = e.target;
        const arquivo = alvoDeEntrada.files[0];

        if(arquivo){
            const leitor = new FileReader();

            leitor.addEventListener("load",function(e){
                const alvoDoLeitor = e.target;
                const imagem = document.querySelector("#imagem");
                imagem.src = alvoDoLeitor.result;
            })
            leitor.readAsDataURL(arquivo);
        }
    })

    const options = {
        debug: 'info',
        modules: {
            toolbar: true,
        },
        placeholder: 'Escreva seu conteúdo...',
        theme: 'snow'
    };
    const quill = new Quill('#editor', options);
    const submit = document.querySelector("#submit");
    submit.addEventListener("click", () => {
        console.log("submitando");
        document.querySelector("#Conteudo").value = quill.root.innerHTML;
    })

    window.addEventListener("load", () => {
        quill.root.innerHTML = document.querySelector("#Conteudo").value
        console.log("teste")

    })
</script>