@using Blogger.Models.ViewModels
@model CadastrarComentarioViewModel

<div>
    <form asp-action="Criar" asp-controller="Comentario" method="post">
        <input hidden asp-for="PublicacaoId"/>
        <h5>Escreva seu comentario</h5>
        <label for="comentario">Comentario</label>
        <input asp-for="Descricao" type="text" id="comentario" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
        <br />
        <button type="submit">Comentar</button>
    </form>
</div>