<div class="w-100 position-relative d-flex align-items-center justify-content-center">
    <a type="button" class="w-100 btn btn-danger justify-self-center m-auto" asp-controller="Publicacao" asp-action="Index">
        Voltar para o inicio
    </a>
</div>
<div class="position-relative d-flex align-items-center justify-content-center" style="height: 80vh;">
    <img class=" w-100 h-100" src="/Assets/proibidoAcesso.png" alt="Acesso Proibido" style="object-fit: cover;" />
    <h1 class="text-danger position-absolute text-center">
        <strong>Você não deveria estar aqui!</strong>
    </h1>
</div>
