@model Blogger.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css" />


<div id="card">
    <div id="card-content">
        <div id="card-title">
            <h2>LOGIN</h2>
            <div class="underline-title"></div>
        </div>

        <form asp-action="Login" class="form">
            <span asp-validation-for="Email" class="text-danger" style="font-size:13px; text-align:center;"></span>
            <span asp-validation-for="Senha" class="text-danger" style="font-size:13px; text-align:center;"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="Email" style="padding-top:13px">
                &nbsp;Email
            </label>
            <input asp-for="Email" id="user-email" class="form-content" />

            <div class="form-border"></div>
            <label asp-for="Senha" style="padding-top:22px">
                &nbsp;Senha
            </label>
            <label>
                <input asp-for="Senha" id="user-password" class="form-content" type="password" />
                <input type="checkbox" id="customCheckbox" hidden>
                <svg id="visualizarSenha" style="width:24px;height:24px;transition: transform 0.3s, opacity 0.3s;cursor:pointer;" viewBox="0 0 24 24">
                    <path id="svgPath" fill="#000000" d="M12 17.5C8.2 17.5 4.8 15.4 3.2 12H1C2.7 16.4 7 19.5 12 19.5S21.3 16.4 23 12H20.8C19.2 15.4 15.8 17.5 12 17.5Z" /> <!-- account -->
                    </svg>
            </label>
            <div class="form-border"></div>
            <input id="submit-btn" value="Logar" type="submit" name="submit" />
            <a id="signup" asp-action="Cadastrar">Ainda não tem conta?</a>
        </form>
    </div>
</div>

<script src="~/js/mostrarSenha.js" asp-append-version="true"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var type = '@TempData["NotificationType"]';
        var message = '@TempData["NotificationMessage"]';

        if (type && message) {
            new Noty({
                type: type,
                text: message,
                timeout: 3000,
                progressBar: true,
                layout: 'topLeft'
            }).show();
        }
    });
</script>

