
@if (Context.User.Identity!.Name != null)
{
    <form class="navbar-right " asp-controller="Account" asp-action="LogOut" method="post">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link">Olá, @Context.User.Identity.Name</li>
            <button type="submit">| Sair</button>
        </ul>
    </form> 
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li> 
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>          
        <li> 
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Cadastrar">Cadastrar</a>
        </li>          
    </ul>
} 





