@using System.Security.Claims

@if (Context.User.Identity!.Name != null)
{
    <form class="navbar-right " asp-controller="Account" asp-action="LogOut" method="post">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link d-flex align-items-center">Olá, @Context.User.Identity.Name</li>
            <button class="btn btn-outline-dark my-2" type="submit">Sair</button>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link text-dark" id="log" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li>
            <a class="nav-link text-dark" id="cad" asp-controller="Account" asp-action="Cadastrar">Cadastrar</a>
        </li>
    </ul>
}




